In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import scipy.stats

In [2]:
disease = pd.read_csv(r"C:\Users\HP\OneDrive\Documents\data files\data december\Disease_symptom_and_patient_profile_dataset.csv")
disease.head()

,Disease,Fever,Cough,Fatigue,Difficulty Breathing,Age,Gender,Blood Pressure,Cholesterol Level,Outcome Variable
0,Influenza,Yes,No,Yes,Yes,19,Female,Low,Normal,Positive
1,Common Cold,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
2,Eczema,No,Yes,Yes,No,25,Female,Normal,Normal,Negative
3,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive
4,Asthma,Yes,Yes,No,Yes,25,Male,Normal,Normal,Positive

In [3]:
disease.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349 entries, 0 to 348
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Disease               349 non-null    object
 1   Fever                 349 non-null    object
 2   Cough                 349 non-null    object
 3   Fatigue               349 non-null    object
 4   Difficulty Breathing  349 non-null    object
 5   Age                   349 non-null    int64
 6   Gender                349 non-null    object
 7   Blood Pressure        349 non-null    object
 8   Cholesterol Level     349 non-null    object
 9   Outcome Variable      349 non-null    object
dtypes: int64(1), object(9)
memory usage: 27.4+ KB

In [5]:
disease['Disease'].value_counts().to_frame()

                                Disease
Asthma                               23
Stroke                               16
Osteoporosis                         14
Hypertension                         10
Diabetes                             10
...                                 ...
Autism Spectrum Disorder (ASD)        1
Hypoglycemia                          1
Fibromyalgia                          1
Eating Disorders (Anorexia,...        1
Williams Syndrome                     1

[116 rows x 1 columns]

In [6]:
disease['Outcome Variable'].value_counts().to_frame()

          Outcome Variable
Positive               186
Negative               163